<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products List</title>
    <link rel="stylesheet" href="/css/style.css">
    <script th:src="@{/js/script.js}"></script>
</head>
<body>
    <div class="logo">
        <img src="/images/logo.png" alt="log"/>
    </div>
    <h1 class="title"> Products Management</h1>
    <a th:href="@{/}">Back</a>
    <a class="button violet-button" th:href="@{/products/create}">add product</a>
    <table>
        <tr class="table-header">
            <th>Code</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
        <tr th:each="product : ${products}" th:object="${product}">
            <td th:text="*{code}"></td>
            <td th:text="*{name}"></td>
            <td th:text="|*{price}  '$' |"></td>
            <td th:text="*{quantity}"></td>
            <td class="center" th:if="*{image != null}">
                <img th:alt="*{image}" th:src="@{'/images/'+*{image}}">
            </td>
            <td th:p class="center" th:unless="*{image != null}">
                <img alt="no-image.png" th:src="@{/images/no-image.png}">
            </td>
            <td >
                <div class="actions">
                    <a class="button gray-button" th:href="@{'/products/'+*{id}+'/edit'}">update</a>
                    <form onsubmit="return confirmDelete()" th:action="@{'/products/'+*{id}+'/delete'}" method="post">
                        <input class="button gray-button" type="submit" value="delete">
                    </form>
                </div>
            </td>
        </tr>
    </table>


</body>
</html>